body {
  background: #d1ee59;
}

.app {
  margin: 0;
  padding: 0;
  background: #d1ee59;
  padding: 30px;
  height: 100vh;
}

.experience-list {
  background: #e8e8e8;
  border-radius: 0px;
  padding: 0px;
  max-width: 400px;
}

.experience {
  background: #436b95;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 16px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 18px;
}

button {
  margin: 2px;
  font-size: 12px;
  background: white;
}
